.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left, rgb(192, 192, 191), rgb(252, 253, 171)) right;
  }
  
  form{
    background-color: white;
    padding: 0px 4vw;
    border-radius: 1vw;
  }
  
  h1{
    color: rgb(77, 1, 77);
    text-align: center;
    font-size: 2.0vw;
  }

  p{
    text-align: center;
    font-size: 1.0vw;
  }

  
  button{
    width: 100%;
    height: 4vw;
    padding: 1vw;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    cursor: pointer;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  
  
  
  